<ul class="nav nav-tabs">
    <li role="presentation" [routerLinkActive]="['active']">
        <a [routerLink]="['/admin/dashboard']" routerLinkActive="true">Dashboard</a>
    </li>
    <li role="presentation" [routerLinkActive]="['active']">
        <a [routerLink]="['/admin/annoncements']" routerLinkActive="true">Annoncements</a>
    </li>
    <li role="presentation" [routerLinkActive]="['active']">
        <a [routerLink]="['/admin/reservation']" routerLinkActive="true">Reservation</a>
    </li>
    <li role="presentation" [routerLinkActive]="['active']">
        <a [routerLink]="['/admin/message']" routerLinkActive="true">Message</a>
    </li>
</ul>
