<ul class="nav nav-pills">
    <li role="presentation" class="dropdown pull-right">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            {{!user ? "login" : user.name}} <span class="caret"></span>
        </a>
        <div class="dropdown-menu">
            <blache-login (loginEvent)="loginFacebook()" *ngIf="!user"></blache-login>
            <a *ngIf="user" (click)="logout()" href="#">logout</a>
        </div>
    </li>
</ul>
