<ul class="nav nav-pills">
<li role="presentation" class="dropdown pull-right">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        {{!user ? "login" : user.name}} <span class="caret"></span>
    </a>
    <div class="dropdown-menu">
        <blache-login (loginEvent)="loginFacebook()" *ngIf="!user"></blache-login>
        <div *ngIf="user">
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <a routerLink="/admin">admin</a>
                </li>
                <li>
                    <a (click)="logout()" href="#">logout</a>
                </li>
            </ul>
        </div>
    </div>
</li>
</ul>
